.dnd-list {
    list-style: none;
    margin-left: 0;
}
.dnd-list-item {
    text-align: center;
    width: 200px;
    height: 3em;
    line-height: 3em;
    border: 1px solid #ccc;
    margin-bottom: 1px;

    &.hover {
        // border: 2px solid #ccc;
    }
    &.empty {
        box-shadow: inset 1px 1px 13px 1px #ccc;
    }
    &.hide {
        transform: scale(0.8, 0.8);
    }
}

